
// configuracion botones //
@mixin botones{
   background-color: $first-color;
   color: $second-color;
   }

.btn-practicas{
    @include botones;
}
.btn-productos{
    @include botones;
}

// configuracion background categorias productos //
.bg-custom{
    background: linear-gradient(to left, $first-color, $second-color, $third-color);
}

// configuraciones responsive //

@media (max-width: 1440px){
// configuracion titulos //   
    h1{
        font-size: 5vh;
        padding: 4vh;
    }
    h2{
        font-size: 5vh;
    }
    h3{
        font-size: 4vh;
        text-align: center;
        margin-top: 2vh;
    }
    h6{
        font-size: 3vh;
        color: black;
    }
// configuracion párrafos //
    p{
        font-size: 2vh;
    }
// configuracion epígrafes img //    
    figcaption{
        margin-left: 2vh;
        font-size: 2.5vh;
        margin-right: 2vh;
    }
}
@media (max-width: 768px){

// configuracion titulos //    
    h1{
        font-size: 5vh;
        padding: 4vh;
    }
    h3{
        font-size: 4vh;
        text-align: center;
        margin-top: 2vh;
    }
    h4{
        font: 2vh;
    }
    h6{
        font-size: 2vh;
    }
// configuracion epígrafes //
    .center{
        margin: 5vh 25% 5vh 25%
    }
    figcaption{
        font-size: 2vh;
        margin-left: 2vh;
        margin-right: 2vh;
}
    .row figcaption{
        text-align: center;
        width: 100;
        padding: 0;
        margin: 0;
}
// configuracion textos // 
    p{
        font-size: 12px;
    }  
}
@media (max-width: 425px) {
// configuracion titulos //
    h1{
        font-size: 4vh;
        padding: 2vh;
    }   
    h2{
        font-size: 4vh;
        margin: 0;
    }
  
    h3{
        font-size: 3vh;
        margin: 1vh 0 1vh 0; 
        text-align: center;
    }
    h4{ 
        font-size: 3vh;

    }
    h6{
        font-size: 1.5vh;
        margin: 0;
        padding: 0;
    }

// configuracion epigrafes //
    figcaption{
        font-size: 12px;
        padding: 1vh;
    }
    video{
        display: none;
    }
    img{
        height: 50%;
        width: 50%;
        margin-top: 6px;
    }
    .center{
        margin: 0;
    }

// configuracion de textos // 
    p{
        font-size: 12px;
        margin-bottom: 2px;
    }
}
@media (max-width: 375px){
// configuracion titulos //    
    h1{
        font-size: 4vh;
        padding: 1em;
    }
    h2{
        font-size: 4vh;
        margin: 0;
    }
    h3{
        font-size: 3vh;
        margin: 1vh 0 1vh 0; 
        text-align: center;
    }   
    h4{ 
        font-size: 2vh;
    }  
    h6{
        font-size: 0.5em;
        margin: 0;
        padding: 0;
    }

// configuracion epigrafes //

    figcaption{
        font-size: 12px;
        padding-bottom: 1vh;
    }     
    video{
        display: none;
    }
    img{
        height: 50%;
        width: 50%;
    }
    .center{
        margin: 0%;
    }

// configuracion de textos // 

    .producto{
        p{
        font-size: 12px;
        text-align: center;
        margin-bottom: 2px;
        width: 100%;
        }
        img{
        margin-top: 6px;
        }
    }
}


