//hover nav//
nav{
    ul{
        a:hover{
               font-weight: bold;      
        }
    }
}
//hover main//
main{
    h2:hover{
        font-weight: bolder;
    }
}
.btn.btn-primary:hover{
    background-color: $first-color;
    color: $second-color;
}
.botton-final:hover{
    background-color: $first-color;
    color: $second-color;
}

//configuración textos//

@media (max-width: 1440px){   
    p{
        font-size: 2vh;
    }
}
@media (max-width: 768px){
    p{
        font-size: 12px;
    }           
}      
@media (max-width: 425px) {
    p{
        font-size: 12px;
        margin-bottom: 2px;
    }
    img{
        margin-top: 6px;
        }
}
@media (max-width: 375px){   
    .producto{
        p{
        font-size: 12px;
        text-align: center;
        margin-bottom: 2px;
        width: 100%;
        }
        img{
        margin-top: 6px;
        }
        }
}


//configuracion botones //
@mixin botones{
   background-color: $first-color;
   color: $second-color;
   }

.btn-practicas{
    @include botones;
}
.btn-productos{
    @include botones;
}
//configuración titulos //

h1{
    font-weight: bolder;
}


@media (max-width: 1440px){
    h1{
        font-size: 5vh;
        padding: 4vh;
    }
    h2{
        font-size: 5vh;
    }
    ul h2{
    font-size: 3.5vh;
    }
    h3{
        font-size: 4vh;
        text-align: center;
        margin-top: 2vh;
    }
    h6{
    font-size: 3vh;
    }
}
@media (max-width: 768px){
    h1{
        font-size: 5vh;
        padding: 4vh;
    }
    ul h2{
        font-size: 3.5vh;
    }
    h3{
        font-size: 4vh;
        text-align: center;
        margin-top: 2vh;
    }
    h4{
        font: 2vh;
    }
    h6{
        font-size: 2vh;
    }
}
@media (max-width: 425px) {
    h1{
        font-size: 4vh;
        padding: 2vh;
    }   
    h2{
        font-size: 4vh;
        margin: 0;
    }
    ul h2{
        font-size: 3vh;
    }
    h3{
        font-size: 3vh;
        margin: 1vh 0 1vh 0; 
        text-align: center;
    }
    h4{ 
        font-size: 3vh;

    }
    h6{
        font-size: 1.5vh;
        margin: 0;
        padding: 0;
    }
}
@media (max-width: 375px){
    h1{
        font-size: 4vh;
        padding: 1em;
    }
    h2{
        font-size: 4vh;
        margin: 0;
    }
    ul h2{
        font-size: 3vh;
    }
    h3{
        font-size: 3vh;
        margin: 1vh 0 1vh 0; 
        text-align: center;
    }   
    h4{ 
        font-size: 2vh;
    }  
    h6{
        font-size: 0.5em;
        margin: 0;
        padding: 0;
    }
}

//configuracion epigrafes//
@media (max-width: 1440px){
    figcaption{
            font-size: 2.5vh;
            margin-left: 2vh;
            margin-right: 2vh;
    }
}
@media (max-width: 768px){
    .center{
        margin: 5vh 25% 5vh 25%
    }
    figcaption{
        font-size: 2vh;
        margin-left: 2vh;
        margin-right: 2vh;
    }
    .row figcaption{
        text-align: center;
        width: 100;
        padding: 0;
        margin: 0;
    }
}
@media (max-width: 425px) {
    figcaption{
        font-size: 12px;
        padding: 1vh;
    }
    video{
        display: none;
    }
    img{
        height: 50%;
        width: 50%;
    }
    .center{
        margin: 0;
    }
}
@media (max-width: 375px){   
    figcaption{
        font-size: 12px;
        padding-bottom: 1vh;
    }     
    video{
        display: none;
    }
    img{
        height: 50%;
        width: 50%;
    }
    .center{
        margin: 0%;
    }
}


