//estilos de fuente//

@font-face { 
    font-family: "Poppins"; 
    src: url("../fonts/Poppins/Poppins-Light.ttf"); 
} 
@font-face {
    font-family: "Poppins Italic";
    src: url("../../fonts/Poppins/Poppins-LightItalic.ttf");                                                                
}
@font-face{
    font-family: "Poppins ThinItalic";
    src: url("../../fonts/Poppins/Poppins-ThinItalic.ttf")
}
@font-face{
    font-family: "Poppins Thin";
    src: url("../../fonts/Poppins/Poppins-Thin.ttf")
}
* {
    font-family: "Poppins";
}
