header{
    background-image: url("../multimedia/LOGO.JPG");
    background-repeat: no-repeat;
    background-position: right;
    color: $first-color;
    text-align: center;
}
@media (max-width: 425px) {
    header{
            background-image: none;
    }
}
@media (max-width: 375px){
    header{
            background-image: none;
    }
}