.bg-nav-final{
    background-color: $first-color;
}
.bg-custom{
    background-color: $second-color;
}


@media (max-width: 425px) {
    .btn.btn-primary{
        height:auto;
        width: auto;
    }
    .navbar-items {
        font-size: 12px;
        margin: 0 5% 0 0%;  
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }      
    ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    footer{
        display: none;
    }   

}
@media (max-width: 375px){   
    .navbar-items {
        font-size: 12px;
        margin: 0 2% 0 2%;  
    }  
  
    ul{
        display: flex;
        flex-direction: column;       
    }   
    footer{
        display: none;
    }
    form.d-flex{
        flex-direction: row;
        width: 75%;
    }
    .btn.btn-primary{
        height:50%;
        width: 50%;
    }
}
