//configuración resposive textos body//

@media (max-width: 1440px){   
    p{
        font-size: 2vh;
    }
}
@media (max-width: 768px){
    p{
        font-size: 12px;
    }           
}      
@media (max-width: 425px) {
    p{
        font-size: 12px;
        margin-bottom: 2px;
    }
    img{
        margin-top: 6px;
        }
    
 
}
@media (max-width: 375px){   
    .producto{
        p{
        font-size: 12px;
        text-align: center;
        margin-bottom: 2px;
        width: 100%;
        }
        img{
        margin-top: 6px;
        }
        }
}


//configuracion botones 
@mixin botones{
   background-color: $first-color;
   color: $second-color;
   }

.btn-practicas{
    @include botones;
}
.btn-productos{
    @include botones;
}